* {
    font-family: 'Cascadia Code', monospace;
}

a:link, a:visited {
    color: black;
}

.topbar * {
    padding: 50px;
    font-weight: 450;
}

.topbar #logo {
    font-weight: 550;
}

.topbar #version {
    font-weight: 300;
    position: absolute;
    padding: 0;
    top: 5px;
    right: 10px;
}

#about {
    display: none;
}

#about:target {
    display: block;
}

body:has(#about:target) span:has(a[href="#about"]) {
    display: none;
}

span a[href="#home"] {
    display: none;
}

body:has(#about:target) span a[href="#home"] {
    display: inline;
}
