* {
    font-family: 'Cascadia Code', monospace;
}

a:link, a:visited {
    color: black;
}

.topbar * {
    padding: 10px;
    font-weight: 450;
}

.topbar #name {
    font-weight: 500;
    font-style: italic;
    position: absolute;
    padding: 0;
    top: 5px;
    right: 10px;
}

/* All the code */

